
@color-primary: #00baff;
@color-secondary: #cc3e14;
@letter-color-secondary: #ffbc40;
@soft-grey: #e6e6e6;
@font-primary: 'Roboto', sans-serif;

* {
	box-sizing: border-box;
	position: relative;
}

html {
	height: 100%;
	font-family: @font-primary;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
	&:focus {
		text-decoration: none;
		color: inherit;
	}
	&:active {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
}
img.responsive {
	width: 100%;
	height: auto;
}
.clear {
	clear: both;
}

.circular-action-btn {
	width: 40px;
	height: 40px;
	border-radius: 200px;
	text-align: center;
	display: inline-block;
	padding: 0;
	line-height: 40px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);
	i {
		color: #fff;
		line-height: 39px;
		top: 1px;
		&:before {
			font-size: 24px;
		}
	}
}
.red-btn {
	background-color: @color-secondary;
}

body {
	background-color: @color-primary;
	background-position: center bottom;
	background-attachment: fixed;
	background-size: contain;
	height: 100%;
	font-family: @font-primary;
}

#bs-example-navbar-collapse-1 {
	// padding-left: 0;
	background-color: darken(@color-primary, 15%);
	box-shadow: 0 3px 3px rgba(0,0,0,.15);
	.nav {
		.menu-item {
			a {
				color: #fff;
				&:hover, &:focus {
					background-color: @color-secondary;
				}
			}
		}
	}
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-header {
	z-index: 2;
	color: #fff;
	// .back-button {
	// 	top: 15px;
	// }
	.circular-action-btn {
		top: 5px;
	}
	a {
		.flaticon-go10 {
			top: 15px;
		}
	}
}
.navbar-brand {
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
}


header {
	z-index: 2;
	// height: 50px;
	// .logo {
	// 	a {
	// 		display: inline-block;
	// 		height: 50px;
	// 		line-height: 50px;
	// 		min-width: 50px;
	// 		text-align: center;
	// 		.flaticon-go10 {
	// 			color: #fff;
	// 			vertical-align: middle;
	// 		}
	// 	}
	// 	img {
	// 		vertical-align: middle;
	// 	}
	// }
	nav {
		padding: 0 10px;
		h2 {
			margin: 0;
			top: 4px;
			left: -9px;
			font-size: 24px;
			display: inline-block;
		}
		& > a {
			color: #fff;
			line-height: 50px;
			font-size: 18px;
			.fa {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		.icons {
			.circular-action-btn {
				top: 5px;
			}
		}
	}
	h1 {
		font-size: 30px;
		font-size: 400;
		color: #fff;
		span {
			font-weight: 100;
		}
	}
	h3 {
		margin-top: 50px;
		text-transform: uppercase;
		font-size: 16px;
		color: @letter-color-secondary;
	}
	.widget_sp_image {
		margin-top: 10px;
		margin-bottom: 5px;
		.recommended-event {
			height: 345px;
			background-color: #fff;
			overflow: hidden;
			border: 10px solid #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			h4 {
				font-size: 16px;
				font-weight: 700;
				height: 3.3em;
				overflow: hidden;
			}
			img {
				width: 100%;
				height: auto;
			}
			.widget_sp_image-description {
				p {
					margin-top: 20px;
					font-size: 12px;
				}
			}
		}
	}
}

.action-bar {
	.circular-action-btn {
		position: absolute;
		top: -45px;
		right: 15px;
		z-index: 2;
	}
}

.search-form {
		background-color: #fff;
		padding: 0 0;
		input {
			width: 100%;
			border: 0;
			padding: 0 40px;
			height: 45px;
			line-height: 45px;
			color: #383838;
			// &:focus {
			// 	outline: 0;
			// }
		}
		button {
			background-color: transparent;
			position: absolute;
			left: 9px;
			border: 0;
			top: 5px;
			i {
				color: #000;
				&:before {
					font-size: 24px;
				}
			}
		}
	}

.search-results-content, .page-content {
	background: #fff;
	padding: 20px;
	h1 {
		color: #000;
	}
}
.page-content:first-child {
	margin-top: 15px;
}

.main {
	padding-left: 0;
	padding-right: 0;
}

.pie {
	background-color: #000;
	text-align: center;
	padding: 10px;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	nav {
		margin-left: 20px;
		font-size: 14px;
		color: @letter-color-secondary;
		display: inline-block;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}

.section-home {
	background: @soft-grey;
	padding: 5px 5px 10px;
	margin-bottom: 40px;
	.row-fluid {
		margin: 0;
	}
	.col-xs-6 {
		padding: 0 5px;
		margin: 5px 0;
		a {
			display: block;
		}
		h3 {
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: 25px 10px 10px;
			left: 0;
			right: 0;
			z-index: 2;
			color: #fff;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
			font-size: 18px;
			border-radius: 0 0 3px 3px;
			&:before {
				content: "#";
			}
		}
		img {
			width: 100%;
			height: auto;
			box-shadow: 0 0 6px rgba(0,0,0,0.5);
			border-radius: 3px;
		}
	}
}

.section-category-events {
	padding: 5px 5px 10px;
	background: @soft-grey;
	p {
		padding: 20px;
	}
	.row-fluid {
		margin: 0;
	}
	.card {
		box-shadow: 0 0 6px rgba(0,0,0,0.5);
		border-radius: 3px;
		margin-bottom: 10px;
		background-color: #fff;
		margin: 10px 5px;
		overflow: hidden;
		.event-thumb {
			padding-left: 0;
			padding-right: 0;
			z-index: 2;
			width: 37%;
		}
		.event-summary {
			width: 63%;
			h3 {
				font-size: 18px;
				padding-right: 20px;
				font-weight: 700;
				margin-top: 15px;
				margin-bottom: 10px;
			}
			time {
				display: block;
			}
			span {
				font-style: italic;
			}
		}
		.footer {
				// background-color: #efefef;
				position: absolute;
				bottom: 0;
				height: 44px;
				left: 33.33333%;
				right: 0;
				// border-top: 1px solid #ddd;
				padding: 7px 20px;
				line-height: 30px;
				font-size: 18px;
				text-align: right;
				.fa {
					font-size: 18px;
					margin: 0 5px;
					width: 30px;
					height: 30px;
					border: 1px solid @soft-grey;
					text-align: center;
					border-radius: 20px;
					line-height: 1.6;
				}
				span {
					margin: 0 10px;
				}
				.social-card {
					position: absolute;
					bottom: 60px;
					right: 30px;
					background-color: #fff;
					text-align: center;
					z-index: 2;
				}
				.share {
					display: block;
					position: absolute;
					bottom: 25px;
					right: 25px;
					font-size: 18px;
					z-index: 2;
				}
			}
	}
}

.embed-responsive-card {
	padding-bottom: 49.4%;
	.row-fluid {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.event-thumb, .event-summary {
			height: 100%;
		}
		.event-thumb {
			background: #666;
			display: table;
			a {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

.day-events {
	.full-date {
		position: relative;
		color: #333;
		text-align: right;
		font-size: 18px;
		padding: 8px 10px;
		line-height: 1;
	}
}

.section-single-event {
	background-color: #fff;
	.share {
		display: block;
		color: #fff;
		position: absolute;
		top: -22px;
		right: 25px;
		font-size: 18px;
		background-color: @color-secondary;
		border-radius: 40px;
	}
	.social {
		position: absolute;
		// width: 340px;
		width: 100%;
		top: 20px;
		right: 19px;
		background-color: #fff;
		z-index: 2;
	}
	.ticket {
		right: 75px;
	}
	article {
		padding: 30px;
		padding-bottom: 5px;
		h1 {
			font-size: 28px;
			margin-top: 30px;
		}
		h4 {
			font-size: 14px;
			a {
				i {
					margin-right: 10px;
				}
			}
		}
	}
	.comentarios {
		padding-top: 10px;
		h3 {
			margin-top: 30px;
		}
		.comentario {
			border: 1px solid #ddd;
			padding: 5px 20px;
			margin-bottom: 10px;
			box-shadow: 0 0 6px rgba(0,0,0,0.5);
			border-radius: 3px;
		}
		i {
				font-size: 20px;
				margin-right: 4px;
			}
		form {
			padding-bottom: 40px;
			label {
				display: block;
			}
			input {
				width: 100%;
				padding: 10px;
	  		&[type="submit"] {
	  			width: auto;
	  			color: #fff;
					background-color: @color-primary;
					border: none;
					padding: 10px 20px;
					&:hover {
						background-color: lighten(@color-primary, 10%);
	  			}
				}
			}
			textarea {
				width: 100%;
				resize: none;
				border-color: #ddd;
				margin-bottom: 10px;
				padding: 10px;
			}
		}
	}
}

.content-area {
	background-color: #fff;
}
.post-navigation {
	padding-left: 20px;
	padding-right: 20px;
}
.comments-area {
	padding: 20px;
}
.comment-form {
	padding-bottom: 40px;
	label {
		display: block;
	}
	input {
		width: 100%;
		padding: 10px;
		&[type="submit"] {
			width: auto;
			color: #fff;
			background-color: @color-primary;
			border: none;
			padding: 10px 20px;
			&:hover {
				background-color: lighten(@color-primary, 10%);
			}
		}
	}
	textarea {
		width: 100%;
		resize: none;
		border-color: #ddd;
		margin-bottom: 10px;
		padding: 10px;
	}
}

/* === FOOTER-SIDEBAR ===*/

#footer-widget-sidebar {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 60px;
	.widget {
		padding: 20px;
		.widget-title {
			text-align: center;
			background-color: @soft-grey;
			margin-bottom: 20px;
			padding: 10px;
			font-size: 20px;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		select {
			display: block;
			width: 100%;
			height: 38px;
			padding: 6px 12px;
			line-height: 1.5;
			border-radius: 0;
		}
	}
	.widget_calendar {
		#wp-calendar {
			width: 100%;
			caption {
				text-align: center;
				font-size: 18px;
				color: #000;
			}
			thead {
				tr {
					th {
						padding: 5px;
						padding-top: 14px;
						text-align: center;
					}
				}
			}
			td {
				padding: 5px;
				text-align: center;
			}
		}
	}
	.widget_rss {
		ul {
			li {
				border: 1px solid @soft-grey;
				border-radius: 3px;
				margin-bottom: 10px;
				padding: 15px;
				a {
					font-weight: 700;
				}
				span {
					display: block;
					margin: 8px 0;
				}
			}
		}
	}
	.widget_search {
		label {
			width: 100%;
			span {
				display: none;
			}
			input[type="search"] {
	    	display: block;
	     	width: 100%;
	     	height: 38px;
	     	padding: 6px 12px;
	     	line-height: 1.5;
	     	border: 1px solid @soft-grey;
	     	border-radius: 3px;
	     	background: url(../../assets/img/search-icon.png) no-repeat 95% #fff;
	     	&::-webkit-input-placeholder { font-weight: 400; }
				&::-moz-placeholder { font-weight: 400; } /* firefox 19+ */
				&:-ms-input-placeholder { font-weight: 400; } /* ie */
				&:input:-moz-placeholder { font-weight: 400; }
			}
		}
		input[type="submit"] {
			display: none;
		}
	}
	.widget_text {
		img {
			max-width: 100%;
			height: auto;
		}
	}
}



/* === CALENDARIO === */


#calendar-widget-sidebar {
	background-color: #fff;
	padding-bottom: 30px;
	#em_calendar-2 {
		border-top: 1px solid @soft-grey;
		width: 100%;
		height: 100%;
		table.em-calendar {
			width: 100%;
			background-color: #fff;
			thead {
				tr {
					td {
						.em-calnav {
							display: block;
							height: 40px;
							float: none !important;
							line-height: 40px;
							font-size: 24px;
						}
						&.month_name {
							padding: 20px;
							text-align: center;
							font-weight: 400;
							font-size: 20px;
						}
					}
				}
			}
			tbody {
				tr.days-names {
					font-weight: 700;
				}
				td {
					width: 50px;
					height: 50px;
					text-align: center;
					vertical-align: middle;
					font-size: 16px;
				  &.eventless-today {
				  	background-color: transparent;
				  	color: #fff;
				  	z-index: 2;
				  	&:before {
				  		content: " ";
				  		width: 50px;
				  		height: 50px;
				  		background-color: @color-primary;
				  		border-radius: 50px;
				  		position: absolute;
				  		top: 0;
				  		left: 50%;
				  		margin-left: -25px;
				  		z-index: -1;
				  	}
				  }
				  &.eventful-today {
				  	background-color: transparent;
				  	z-index: 2;
						a {
							color: #fff;
						}
						&:before {
							content: " ";
				  		width: 50px;
				  		height: 50px;
				  		background-color: @color-secondary;
				  		border-radius: 50px;
				  		position: absolute;
				  		top: 0;
				  		left: 50%;
				  		margin-left: -25px;
				  		z-index: -1;
				  	}
				  }
				  &.eventful {
				  	background-color: transparent;
				  	z-index: 2;
						a {
							color: @color-secondary;
							display: block;
							height: 100%;
							line-height: 48px;
						}
						&:before {
							content: " ";
				  		width: 50px;
				  		height: 50px;
				  		border: 1px solid @color-secondary;
				  		border-radius: 50px;
				  		position: absolute;
				  		top: 0;
				  		left: 50%;
				  		margin-left: -25px;
				  		z-index: -1;
				  	}
				  }
				}
			}
		}
	}
}

// === POST ===

.post {
	padding: 20px;
	background-color: #fff;
	.entry-header {
		margin-bottom: 20px;
		padding-top: 0;
		.entry-title {
			color: #000;
		}
	}
}
// === ARCHIVE ===

.page-header {
	.page-title {
		color: #000;
	}
}
.type-event {
	.entry-header {
		.entry-title {
			color: #000;
		}
	}
}

// === ERROR-404 ===

.error-404 {
	background-color: #fff;
	padding: 20px;
	padding-top: 10px;
}


// === MEDIA ===
@media (min-width: 480px) {
	.day-events {
		padding-left: 100px;
		.full-date {
			position: absolute;
			top: 5px;
			left: 10px;
			width: 75px;
			text-align: center;
			.the-day {
				display: block;
				font-size: 36px;
				line-height: 1;
			}
			.the-month {
				display: block;
				font-size: 12px;
				line-height: 1.4;
				color: #999;
			}
			.the-year {
				display: block;
				font-size: 16px;
				line-height: 1;
				color: #999;
			}
		}
		.card {
			.event-summary {
				font-size: 16px;
				time {
					margin-top: 15px;
					margin-bottom: 7px;
					.event-title {
						font-size: 20px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	html {
		padding-bottom: 50px;
	}
	body > .container {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 50px;
	}
	.navbar-brand {
	padding-left: 0;
  }
	#bs-example-navbar-collapse-1 {
		background-color: transparent;
		box-shadow: none;
	}
	
	header {
		height: auto;
	}
  .action-bar {
  	padding-top: 20px;
  	.circular-action-btn {
  		top: 44px;
  		right: 30px;
  	}
  	.search-form {
  		.search-icon {
  			left: 5px;
  			right: auto;
  		}
  	}
  }
  article.post {
  	// margin-top: 20px;
  }
  .main {
		padding-left: 15px;
		padding-right: 15px;
	}
	.content-area {
		padding-left: 15px;  //no coge los paddings???
		padding-right: 15px;
		margin-top: 20px;
	}
	#calendar-widget-sidebar {
		#em_calendar-2 {
			table.em-calendar {
				thead {
					tr {
						td {
							.em-calnav {
								font-size: 32px;
							}
						}
					}
				}
				tbody {
					td {
						font-size: 20px;
					}
				}
			}
		}
	}
	.category-grid-item {
		max-width: 170px;
		margin: 10px auto;
	}
	.day-events {
		padding-left: 100px;
		.full-date {
			position: absolute;
			top: 5px;
			left: 10px;
			width: 75px;
			text-align: center;
			.the-day {
				display: block;
				font-size: 36px;
				line-height: 1;
			}
			.the-month {
				display: block;
				font-size: 12px;
				line-height: 1.4;
				color: #999;
			}
			.the-year {
				display: block;
				font-size: 16px;
				line-height: 1;
				color: #999;
			}
		}
		.card {
			.event-summary {
				font-size: 16px;
				time {
					margin-top: 15px;
					margin-bottom: 7px;
					.event-title {
						font-size: 20px;
					}
				}
			}
		}
	}
	.section-single-event {
		.social {
			width: 340px;
		}
  }
  
}

@media (max-width: 767px) and (orientation: landscape) {
	.category-grid-item-wrapper {
		width: 33.33333%;
	}
}
